@tailwind base;
@tailwind components;
@tailwind utilities;


.parent:hover > .child{
    width: 250px;
    padding: 10px;
}

.hero{
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(168, 165, 165);
}
.hero2{
    background-image: url('/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(168, 165, 165);
}
.hero3{
    background-image: url('/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(168, 165, 165);
}
.hero4{
    background-image: url('/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(168, 165, 165);
}

@media (max-width: 420px), (max-height: 800px){
    .heros{
        height: 75vh;
    }
}
.ball{
    animation-duration: 4s;
}
.ps{
    animation-duration: 3s;
}

.nav a{
    position: relative;
}
.nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: all 0.3s;
}
.nav a:hover::after{
    width: 100%;
}
.trpaeziod{
    border-bottom: 30px solid white;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
}
.betking{
    background: linear-gradient(to right, rgb(1, 1, 31), rgb(1, 128, 128));
}
.sporty{
    /* background-image: url('/sportybet.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; */
    background: linear-gradient(to right, rgb(1, 1, 31) 50%, red 50%);
}
.xbet{
    background-image: url('/1xbet.png');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(2, 2, 116);
}
.batano{
    background-image: url('/Logo.png');
    background-color: rgb(238, 75, 43);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}
.msport{
    background: linear-gradient(to right, rgb(1, 1, 31) 50%, red 50%);
}
.pari{
    background-image: url('/Parimatch_logo.png');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(252, 252, 6);
}
.Tbet{
    background-image: url('/22betlogo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    z-index: -1;
}

.bord{
    border: 1px solid rgb(161, 160, 160);
}

tr:nth-child(even){background-color: #f2f2f2}

@media screen and (max-width: 600px){
    .batano{
        background-size: 80%;
    }
    .pari{
        background-size: 80%;
    }
    .xbet{
        background-size: 80%;
    }
}
