@tailwind base;
@tailwind components;
@tailwind utilities;


.parent:hover > .child{
    width: 250px;
    padding: 10px;
}

.hero{
    background-image: linear-gradient();
}
@media (max-width: 420px), (max-height: 800px){
    .heros{
        height: 75vh;
    }
}
.ball{
    animation-duration: 4s;
}
.ps{
    animation-duration: 3s;
}

.nav a{
    position: relative;
}
.nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: all 0.3s;
}
.nav a:hover::after{
    width: 100%;
}
.trpaeziod{
    border-bottom: 30px solid white;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
}
.betking{
    background: linear-gradient(to right, rgb(1, 1, 31), rgb(1, 128, 128));
}
.sporty{
    background: linear-gradient(to bottom, rgb(214, 3, 3), rgb(54, 0, 0));
}
.xbet{
    background-color: rgb(3, 3, 61);
}
.batano{
    background-color: orangered;
}
.msport{
    background-image: url('/msport.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pari{
    background-image: url('/pari.jpg');
    background-position: center;
    
}
.Tbet{
    background-image: url('/22bet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    z-index: -1;
}

.bord{
    border: 1px solid rgb(161, 160, 160);
}

tr:nth-child(even){background-color: #f2f2f2}